:root {
    --col-background: #FFFFFF;
    --col-popup: black;
    --col-popup-txt: #FFFFFF;
    --col-txt: black;
    --col-border: black;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    font-family: Arial;
    color: var(--col-txt);
}
html, body {
    width: 100%;
    height: 100%;
    background-color: var(--col-background);
    display: contents;
}

section {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.Left{
    width: 40%;
    height: 50%;
}
.Right {
    width: 40%;
    height: 50%;
}

#Top > .Left{
    width: 50%;
    height: 90%;
    display: grid;
}
#Top > .Left > *, #Top > .Right > *{
    margin: auto;
}
#Top > .Right {
    width: 50%;
    height: 90%;
    display: grid;
}

h1 {
    font-size: 2vw;
    width: 90%;
    line-height: 2;
}

h1:hover{
    cursor: pointer;
}

h4 {
    font-size: 1vw;
    font-weight: 100;
    width: 90%;
    line-height: 1.25;
}

span{
    width: 70%;
}
input {
    width: 75%;
    border: 1px solid var(--col-border);
    border-radius: 4px;
    padding-left: 2.5%;
    background: none;
}

button {
    width: 30%;
    cursor: pointer;
    background: none;
    border: 1px solid var(--col-border);
    border-radius: 4px;
}

textarea{
    width: 90%;
    height: 90%;
    padding: 5px;
    background: none;
}

#MailFormatsBox, #CorrMailsBox {
    height: 90%;
    overflow-y: auto;
    border: 1px solid var(--col-border);
    border-radius: 4px;
}

ul{
    padding-left: 5%;
}

.MailOption:hover {
    color: lightgray;
    cursor: pointer;
}
#active{
    color: red;
}

@keyframes PopUp1{
    0% {margin: -10% 50%}
    25% {margin: 4% 50%}
    75% {margin: 4% 50%}
    100% {margin: -10% 50%}
}

@keyframes PopUp2{
    0% {margin: -10% 50%}
    25% {margin: 4% 50%}
    75% {margin: 4% 50%}
    100% {margin: -10% 50%}
}

#PopUpBox {
    position: absolute;
    border-radius: 12px;
    margin: -10% 50%;
    transform: translateX(-50%);
    width: 20%;
    aspect-ratio: 4/1;
    align-content: center;
    text-align: center;
    background-color: var(--col-popup);
    color: var(--col-popup-txt);
    font-size: larger;
}